# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
/build/

!gradle-wrapper.jar
gradle*

# Gradle:
.idea

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/
